*.vlp

build/
dist/

benpy.egg-info/
src/benpy.c

__pycache__/

.venv

*.so
.pypirc

# Pytest
.pytest_cache/
.coverage
htmlcov/
*.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Test outputs
*.log
.tox/