include src/benpy.pyx
include src/bensolve-2.1.0/*.c
include src/bensolve-2.1.0/*.h
recursive-include src/examples *.py
include pyproject.toml
include setup.py
include README.md
include LICENSE.md
include requirements.txt